<h1>Listing users</h1>

<%= render 'layouts/search' %>

<% @users.each do |user| %>
  <%= div_for(user, :class => 'field') do %>
    <%= link_to(user_units_path(user)) do %>
      <%= user.full_name_with_email %>, <%= pluralize(user.units.count, 'unit') %>
    <% end %>
    <br />
    <% if user.deletable? %>
      <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  <% end %>
<% end %>

<%= will_paginate @posts %>
