<h2>Send invitation</h2>

<% form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
  <%= f.error_messages %>

  <div class="field">
   <%= f.label :full_name, 'Full name:' %><br />
   <%= f.text_field :full_name %>
  </div>

  <div class="field">
<<<<<<< HEAD:app/views/devise/invitations/new.html.erb
    <%= f.label :email %><br />
=======
    <%= f.label :email, 'Email' %><span class="required">*</span>:<br />
>>>>>>> design:app/views/devise/invitations/new.html.erb
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Send an invitation", :class => 'btn' %>
    <%= link_to "Home", after_sign_in_path_for(resource_name) %>
  </div>
<% end %>
