<% title 'Listing rooms' %>

<% @rooms.each do |room| %>
  <div class="room field">
    <%= link_to(room_path(room)) do %>
      <%= room.name %> (<%= pluralize(room.units.size, 'unit') %>)
    <% end %>
    <br />
    <%= link_to 'Edit', edit_room_path(room) %>
    <% if room.deletable? %>
      | <%= link_to 'Destroy', room, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </div>
<% end %>

<div class="actions">
  <%= link_to 'New Room', new_room_path %>
</div>
