<div class="user"><% title @user.full_name %></div>

<%= render 'layouts/search' %>

<% if @on_depot_units.blank? %>
  <p>No free units.</p>
<% else %>
  <%= form_for :unit do |f| %>
    <%= f.collection_select :id, Unit.on_depot, :id, :inv_id_with_name, {:promt => true} %>
    <%= f.submit 'Assign selected unit with user', :disable_with => 'Please, wait...' %>
  <% end %>
<% end %>

<br />

<% @user_units.each do |unit| %>
  <div class="unit field">
    <%= render :partial => unit %>

    <%= link_to 'On depot', user_unit_path(@user, unit), :confirm => 'Are you sure?', :method => :delete, :class => 'depot' %>
  </div>
<% end %>

<%= will_paginate @user_units %>

<div class="actions">
  <%= link_to 'Add unit', new_unit_path(:user_id => @user.id) %>
  <%= link_to 'Back', users_path %>
</div>
