<div class="user"><% title @user.full_name %></div>

<% if can?(:manage, Unit) %>
  <% if @on_depot_units.blank? %>
    <p>No free units.</p>
  <% else %>
    <%= form_for :unit do |f| %>
      <%= f.collection_select :id, Unit.on_depot, :id, :inv_id_with_name, {:promt => true} %>
      <%= f.submit 'Assign selected unit with user', :disable_with => 'Please, wait...' %>
    <% end %>
  <% end %>
  <br />

<% end %>

<%= render 'layouts/search' %>

<% if @user_units.blank? %>
  This user have no any units
<% else %>
  <% @user_units.each do |unit| %>
    <div class="unit field">
      <%= render :partial => unit %>

      <% if can?(:manage, unit) %>
        <%= link_to 'On depot', user_unit_path(@user, unit), :confirm => 'Are you sure?', :method => :delete, :class => 'depot' %>
      <% end %>
    </div>
  <% end %>
  <%= will_paginate @user_units %>
<% end %>

<div class="actions">
  <% if can?(:manage, Unit) %>
    <%= link_to 'Add unit', new_unit_path(:user_id => @user.id) %>
  <% end %>
  <%= link_to 'Back', users_path %>
</div>
