<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
        <% @unit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit_type, 'Type:' %>
    <%= f.select :unit_type, APP_CONFIG['unit_types'] %>
  </div>
  <div class="field">
    <%= f.label :inv_id, 'Inv ID:' %><br />
    <%= f.text_field :inv_id %>
  </div>
  <div class="field">
    <%= f.label :name, 'Name:' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, 'Description:' %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :user_id, 'User:' %><br />
    <%= f.collection_select :user_id, User.all, :id, :full_name_with_email %>
  </div>
  <div class="field">
    <%= f.label :room_id, 'Room:' %><br />
    <%= f.collection_select :room_id, Room.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.check_box :on_depot %>
    <%= f.label :on_depot %>
  </div>

  <div class="actions">
    <%= f.submit :disable_with => 'Please, wait...' %>  <%= link_to 'Back', :back %>
  </div>
<% end %>
