<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= APP_CONFIG['app_name'] %> - <%= yield(:title) || 'Home' %></title>
    <%= stylesheet_link_tag 'reset', 'application' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js' %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="content">
       
        <div class="header container">  <%= render 'layouts/messages' %>
          <div class="logo">
            <a href="/" class="img"><img src="/images/logo.png" alt="Inventory" /></a>
          </div>
          <div id="navigation" class="navigation">
            <%= render_navigation(:context => :main) %>
            <%= render_navigation(:context => :user) %>
          </div>
        </div>
        <div class="main">
          <div class="container">
            <% if show_title? -%>
            <h1><%=h yield(:title) %></h1>
            <% end -%>
            <%= yield %>
          </div>
        </div>
        <div class="footer">
          <div class="container">
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>Proin non est tempus ipsum feugiat blandit.</p>
            </div>
            <p class="copy">&copy; 2010 Inventory</p>
          </div>
        </div>
      </div>        
    </div>
  </body>
</html>
